@charset "UTF-8";
@font-face {
    font-family: 'TmoneyRoundWind';
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/TmoneyRoundWind-Regular.eot);
    src: url(../fonts/TmoneyRoundWind-Regular?#iefix) format('embedded-opentype'),
        url(../fonts/TmoneyRoundWind-Regular.woff) format('woff'),
        url(../fonts/TmoneyRoundWind-Regular.ttf) format('truetype');
}
@font-face {
    font-family: 'TmoneyRoundWind';
    font-style: normal;
    font-weight: 700;
    src: url(../TmoneyRoundWind-ExtraBold.eot);
    src: url(../TmoneyRoundWind-ExtraBold#iefix) format('embedded-opentype'),
        url(../fonts/TmoneyRoundWind-ExtraBold.woff) format('woff'),
        url(../fonts/TmoneyRoundWind-ExtraBold.ttf) format('truetype');
}

/* body에 들어갈수있는 모든태그의 여백빼기 */
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,address,code,em,img,strong,sub,sup,b,u,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figure,figcaption,footer,header,hgroup,menu,nav,section,main,audio,video {margin: 0; padding: 0;}
/* html5추가 시멘틱엘리먼트를 익스하위버전에서 블럭으로 인식되도록함 */
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section,main {display: block}
/* button태그에 손모양 커서 */
button {cursor: pointer;}
/* 익스하위버전에서 이미지 선없애기 */
fieldset,img {border: 0; vertical-align: top;}
/* 리스트 기호 빼기 */
ol,ul {list-style: none}
/* 태그 기본 기울임꼴 제거 */
address,em {font-style: normal}
strong {font-weight: normal;}
/* 벤더프리픽스: 브라우저 제조사를 의미 */
a { text-decoration: none; color: #222; -webkit-tap-highlight-color: rgba(0, 0, 0, 0.1); }
/* iframe으로 외부컨텐츠를 연결했을때
외부컨텐츠안쪽내용이 우리페이지에 영향을 주지못하도록 가려줌*/
iframe {overflow: hidden; border: 0}
/* 칸의 선을 합치기, 칸의 간격없애기, 가로를 늘려줌 */
table {border-collapse: collapse; border-spacing: 0; width: 100%}
/* 굵기 빼고 헤딩태그 폰트크기를 body에 선언한 크기와 일치시킴 */
h1,h2,h3,h4,h5,h6 {font-weight: normal; font-size: 100%}
/* 폼요소의 높이가 다를때 요소끼리 세로정렬시킴, ios 둥근모서리, 기본스타일 제거 */
/* border-radius:0 -> iOS에서 테두리가 둥글게 나오므로 빼줌 */
/* -webkit-appearance: none -> iOS에서 폼요소에 내부그림자가 나오므로 빼줌 */
input, select, textarea, button { vertical-align: middle; margin: 0; padding: 0; border-radius: 0; -webkit-appearance: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0.1); }
/* 폼요소 포커스시 아웃라인 안보이게 */
input:focus, select:focus, textarea:focus, button:focus {
    outline: none;
}
/* textarea 리사이즈기능 빼기 */
textarea {resize: none}
/* 모바일 크롬, 사파리의 텍스트 자동확대 방지*/
body { -webkit-text-size-adjust: none }





/*********************** 공통스타일 *************************/
body,input,button,select,textarea,table {
    font-family:'TmoneyRoundWind','맑은 고딕','malgun gothic','Apple SD Gothic Neo',sans-serif;
    font-size: 16px;
    color:#222;
    word-break: keep-all;
    word-wrap: break-word;
}

/* Skip Navgation */
#skip_navi {position: relative;}
#skip_navi a { position: absolute; left: 0; top: -999px; width: 100%; padding: 10px 0; background: #fff; z-index: 99999; text-align: center }
#skip_navi a:hover, #skip_navi a:active, #skip_navi a:focus {top:0}

/* legend,caption,메뉴제목,섹션제목 블라인드 */
legend, caption, .blind { position: absolute; overflow: hidden; border:5px solid red; clip: rect(0 0 0 0); margin: -1px; width: 1px; height: 1px }

/* float해제 */
.clearfix:after { content: ''; display: block; clear: both; }

/* placeholder */
::-webkit-input-placeholder {color:#bbbbbb;} /* Webkit,크롬,사파리 */
:-moz-placeholder {color:#bbbbbb;} /* Firefox 4-18 */
::-moz-placeholder {color:#bbbbbb; opacity:1;} /* Firefox 19+ */
:-ms-input-placeholder {color:#bbbbbb !important;} /* IE10+ */

/* 텍스트 선택 컬러 */
/* ::selection { background: #ef151e;color: #ffffff; } */

/* 폼요소 공통 */
/* IE x버튼, password 눈모양 안보이게 */
input::-ms-clear,
input::-ms-reveal {
    display: none;
}

/* input search x버튼 안보이게 */
input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration{
	display:none;
}


/* 체크박스 공통 */
.checkbox_wrap { display: inline-block; }
input[type=checkbox] + label { cursor: pointer; } 
input[type=checkbox] + label:before { content: ''; display: inline-block; width: 20px; height: 20px; border: 2px solid #FFB606; border-radius: 50%; vertical-align: -6px; margin-right: 10px; }
input[type=checkbox]:checked + label:before { background: url(../images/icon_checkbox.svg) no-repeat 50% 50% / 13px ; }

/* radio 공통 */
.radio_wrap { display: inline-block; margin-right: 30px; line-height: 52px; }
input[type=radio] + label{ cursor: pointer; position: relative; }
input[type=radio] + label:before { content: ''; display: inline-block; width: 20px; height: 20px; border: 2px solid #FFB606; border-radius: 50%; margin-right: 10px; vertical-align: -5px; }
input[type=radio]:checked + label:after { content: ''; position: absolute; left: 6px; top: 0; width: 12px; height: 12px; border-radius: 50%; background: #FFB606; }


/* select 공통 */
.select_wrap { display: inline-block; border: 1px solid #ddd; border-radius: 10px; width: 250px; height: 50px; vertical-align: -2px; line-height: 50px; position: relative; vertical-align: top; }
.select_wrap:before { content: ''; position: absolute; right: 20px; top: 50%; margin-top: -3px; width: 12px; height: 7px; background: url(../images/icon_arrow_down.svg) no-repeat; }
.select_wrap select { width: 100%; border: none; height: 50px; color: #292929; text-indent: 9px; cursor: pointer; position: relative; background: none; }

/* 화살표제거 */
select { /* 크롬,사파리 */ -webkit-appearance: none; /* 파폭 */ -moz-appearance: none; appearance: none; }
/* 익스 화살표 제거 */
select::-ms-expand { display: none; }

/* textarea 공통 */
/* 기존 */
textarea { width: 100%; color: #292929; border: 1px solid #ddd; border-radius: 10px; box-sizing: border-box; padding: 15px; }

/* 파일선택 공통 */
.file_wrap { display: inline-block; border: 1px solid #ddd; width: 510px; box-sizing: border-box; position: relative; border-radius: 10px; }
.file_wrap input[type=text] { height: 50px; width:100%; border: none; padding: 0 111px 0 13px; box-sizing: border-box; font-size: 14px; border-radius: 10px; }
.file_wrap label { /* background: black; */ width: 98px; height: 41px; text-align: center; line-height: 41px; position: absolute; right: 0; top: 4px; font-weight: 500; cursor: pointer; }
.file_wrap label:before { content: ''; position: absolute; left: 0px; top: 50%; margin-top: -8px; width: 2px; height: 16px; background: #ddd; }

/* 버튼 공통 */
/* round 버튼 공통 */
.btn_round_small { display: inline-block; border-radius: 18px; vertical-align: middle; background: #F6842B; color: #fff; width: 120px; height: 36px; border: none; margin-top: 60px; }
.btn_round_large { display: inline-block; border-radius: 25px; vertical-align: middle; background: #FFB606; color: #fff; width: 130px; height: 50px; border: none; margin-top: 40px; font-weight: 700; }
.btn_round_border { display: inline-block; border-radius: 25px; vertical-align: middle; color: #FFB606; width: 130px; height: 50px; background: #fff; border: 2px solid#FFB606; margin-top: 40px; font-weight: 700; }

/* 글자색 공통 */
.txt_point01 {color : #F6A500;}
.txt_point02 {color : #FFB606;}

/* write 테이블 공통 */
.board_write_wrap .note { text-align: right; /* border: 2px solid red; */ color: #999; }
.board_write_wrap th { border-bottom: 1px solid #e8e8e8; padding: 12px 0; text-align: left; font-weight: 500; }
.board_write_wrap th.th_top { vertical-align: top; }
.board_write_wrap td { border-bottom: 1px solid #e8e8e8; padding: 12px 0; }
.board_write_wrap .col01 { width: 12%; }
.board_write_wrap .select_wrap2 { margin-left: 6px; }
.board_write_wrap .file_note { display: inline-block; font-size: 13px; margin-left: 30px; color: #999; }

/* 입력폼 공통 */
.input_txt { width: 250px; height: 50px; color: #292929; text-indent: 15px; border: 1px solid #ddd; border-radius: 10px; }
.input_txt_large { width: 100%; height: 50px; color: #292929; text-indent: 15px; border: 1px solid #ddd; border-radius: 10px; margin-top: 10px;}









#wrap { min-width: 1360px; position: relative; }

/* ===================== 헤더 ================== */

#header { width: 100%; height: 100px; position: absolute; left: 0; top: 0; z-index: 9999; transition: all 0.5s; overflow: hidden; background: #fff; }
#header::before { content: ''; position: absolute; left: 0; top: 100px; width: 100%; height: 1px; background: #e5e5e5;}
#header::after { content: ''; position: absolute; left: 0; top: 101px; height: 250px; width: 100%; background: #fff; }
#header.on { height: 350px; }
#header.fixed { position: fixed; }
#header .inner { width: 1200px; margin: 0 auto; height: 100%; }
#header .logo { float: left; margin-top: 36px; }

/* gnb */
#header .gnb_wrap { float: left; margin-left: 150px; }
#header .gnb { position: relative; display: inline-block; }
#header .gnb > li { float: left; padding: 0 30px; position: relative; }
#header .gnb > li:hover > a { color: #F6A500; }
#header .gnb > li.active > a { color: #F6A500; }
#header .gnb > li > a { line-height: 100px; display: block; font-size: 18px; font-weight: 700; }
#header .gnb .depth02 { position: absolute; left: 0px; top: 100px; text-align: center; padding-top: 35px; width: 100%; height: 215px; transition: all 0.5s; z-index: 1;}
#header .gnb .depth02 > li + li { margin-top: 19px; }
#header .gnb .depth02 > li > a { display: block; }
#header .gnb .depth02 > li:hover > a { color : #F6A500; text-decoration: underline; }

/* utill */
#header .utill { float: right; margin-top: 33px; }
#header .utill > li { float: left; }
#header .utill > li + li { margin-left: 30px; } 
#header .utill > li > a { font-size: 16px; font-weight: 400; display: inline-block; width: 107px; line-height: 36px; border-radius: 18px; background: #F6842B; text-align: center; color:#fff }
#header .utill > li:nth-child(2) > a { background-color: #5C4638; }
#container { padding-top: 100px; }


/* ================= 푸터 ===================== */
#footer { border-top: 1px solid #ddd; }
#footer .inner { width: 1200px; margin: 0 auto; padding: 60px 0 60px; position: relative; }
#footer .footer_logo { display: inline-block; vertical-align: top; }
#footer span { display: inline-block; font-size: 20px; font-weight: 700; color: #5C4738; margin-left: 50px; vertical-align: 4px; }

/* sns */
#footer .sns { position: absolute; right: 0; top:56px; }
#footer .sns a { display: inline-block; width: 35px; height: 35px; text-indent: -9999px; background:url(../images/3225180_app_logo_media_popular_social_icon.svg) no-repeat; margin-right: 15px; }
#footer .sns a:nth-child(2) { background-image: url(../images/3225191_app_instagram_logo_media_popular_icon.svg); }
#footer .sns a:last-child { background-image: url(../images/3225194_app_facebook_logo_media_popular_icon.svg);}
#footer .footer_menu { overflow: hidden; }
#footer .menu_wrap li { float: left; margin-top: 25px; padding: 0 10px; position: relative; }
#footer .menu_wrap li:first-child { padding-left: 0; }
#footer .menu_wrap li + li:before { content: ''; position: absolute; left: 0; top: 3px; width: 1px; height: 15px; background: #666;}
#footer .menu_wrap li a { color: #666; }
#footer .menu_wrap p { color: #999; }
#footer .menu_wrap .address { margin-top: 20px; }
#footer .menu_wrap .copyright { margin-top: 5px; }
#footer .menu_wrap .bar { display: inline-block; width: 1px; height: 15px; background: #999; margin: 0 8px; vertical-align: -2px; }

/* ==================== 서브 공통 ====================*/
.sub_visual { position: relative; height: 380px; background: url(../images/sub_visual_menu.png) no-repeat 50% 0 / cover; }
.sub_visual::after { content: ''; position: absolute; left: 0; top: 60px; width: 100%; height: 1px; background:rgba(255, 255, 255, 0.2); }

/* 서브 lnb */
.lnb_wrap { width: 100%; margin: 0 auto; height: 60px; text-align: center; }
.lnb { display: inline-block; }
.lnb li { float: left; margin: 0 25px; position: relative; } 
.lnb li:first-child { margin-left: 0; }
.lnb li:last-child { margin-right: 0; }
.lnb li a { line-height: 60px; color: #fff; position: relative; }

/* lnb 액티브 */
.lnb li.active a { color: #F6A500; }
.lnb li.active:after { content: ''; position: absolute; left: 0; bottom: 0; width: 100%; height: 4px; background: #F6A500; }

/* 서브탭 */
.sub_tab_wrap { width: 1200px; margin:-30px auto; }
.sub_tab { overflow: hidden; box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1); position: relative; }
.sub_tab>li { float: left; width: calc(1200px / 5); position: relative; }
.sub_tab>li + li:before { content: ''; position: absolute; left: 0; top: 0; width: 1px; height: 60px; background: #eee; }
.sub_tab li:last-child { border: none; }
.sub_tab>li>a { display: block; line-height: 60px; background: #fff; text-align: center; }
.sub_tab li.active a { background: #F6842B; color: #fff; }

/* 서브 비주얼 글자 */
.sub_visual .sub_tit { text-align: center; color: #fff; position: absolute; left: 0; top: 50%; width: 100%; transform: translateY(-50%); }
.sub_visual .sub_tit h2 { font-size: 46px; font-weight: 700; }
.sub_visual .sub_tit p { font-size: 18px; letter-spacing: -0.008em; margin-top: 18px; }

/* 서브 그리드 */
.contents {padding: 100px 0 130px; } 
.contents .inner { width: 1200px; margin: 0 auto; } 

/* fade 애니메이션 공통 */
.animate_fade_up { transform: translate(0,100px); transition: all 1s; opacity: 0; }
.animate_fade_up.on { opacity: 1; transform: translate(0,0); }